/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}
/* CSS RESET END */
body {
    background-color: rgb(238, 238, 238);
}

.container {
    max-width: 1200px;
    width: 100%;
    margin: auto;
}

/* HEADER / NAVBAR */
header {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
}

.navbar {
    background-color: rgb(44, 44, 44);
    box-shadow: 1px 4px 10px -4px rgb(0 0 0 / 50%);
    -webkit-box-shadow: 1px 4px 10px -4px rgb(0 0 0 / 50%);
    -moz-box-shadow: 1px 4px 10px -4px rgba(0,0,0,0.50);
}

.navbar div {
    padding: 10px;
    text-align: center;
    font-size: 14px;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
    /* border: 5px solid lightgoldenrodyellow; */
    /* background-color: aqua; */
    display: flex;
    border-radius: 10px 10px 10px 10px;
-webkit-border-radius: 10px 10px 10px 10px;
-moz-border-radius: 10px 10px 10px 10px;
}

.navbar .container div {
    color: rgb(238, 238, 238);
    border: 2px solid;
    background-color: rgb(238, 238, 238);
    margin-right: 10px;
    margin-bottom: 10px;
    
}

.navbar .container div:hover {
    color: rgb(66, 66, 66);
    border: 2px solid;
    background-color: rgb(66, 66, 66);
    transition: 0.2s;
}

.navbar a {
    color: black;
    text-decoration: none;
    padding-left: 5px;
    padding-right: 5px;
    
}

.button a:hover {
    color: rgb(238, 238, 238);
    transition: 0.2s;
    
}

.logo {
    
    margin-top: 10px;
    margin-right: auto;
}

.img-logo {
    width: auto;
    height: 40px;
}

@media only screen and (max-width: 600px) {
    header {
        margin-left: 15px;
        position: relative;
        width: 100%;
    }
    .navbar .container {
        flex-direction: column;
    }

    .navbar .container div {
        width: 90%;
        margin-left: 5px;
    }

    .button {
        width: 100%;
        flex-direction: column;
    }

    .navbar .container .logo {
        margin-left: 10px;
        margin-top: -1px;
        justify-content: center;
        width: 90%;
    }
}

/* HERO */
#hero .container {
    display: flex;
    flex-direction: row;
    border: 2px solid rgb(243, 243, 243);
    background-color: white;
    margin-top: 100px;
    margin-bottom: 15px;
    border-radius: 7px 7px 7px 7px;
-webkit-border-radius: 7px 7px 7px 7px;
-moz-border-radius: 7px 7px 7px 7px;
box-shadow: 0px 0px 5px 0px rgba(0,0,0,0.2) inset;
-webkit-box-shadow: 0px 0px 5px 0px rgba(0,0,0,0.2) inset;
-moz-box-shadow: 0px 0px 5px 0px rgba(0,0,0,0.2) inset;
}

.hero {
    padding-left: 40px;
    padding-top: 50px;
    padding-bottom: 50px;
    display: flex;
    flex: 1;
    flex-direction: column;
    align-content: center;
    justify-content: flex-start;
}

.hero-title {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 30px;
    font-weight: 700;
    margin-bottom: 20px;
    margin-top: -20PX;
    text-shadow: 1px 1px 3px rgba(0,0,0,0.5);
}

.hero-subtitle {
    font-family: Arial, Helvetica, sans-serif;
    margin-bottom: 20px;
}

.img-slideshow {
    width: 500px;
    height: auto;
}

.hero-button {
    display: flex;
    flex-direction: row;
}

button {
    margin-top: 10px;
    margin-right: 10px;
    width: 20%;
}

.hero-text {
    display: flex;
    flex: 1;
    flex-direction: column;
    justify-content: center;
    margin-right: 20px;
}

.hero-line {
    border: 2px solid rgba(187, 187, 187, 0.267);
    margin-top: 10px;
    margin-bottom: 10px;
}

@media only screen and (max-width: 600px) {
    #hero .container {
        margin-left: 15px;
        margin-top: 20px;
        max-width: 600px;
        flex-direction: column;
    }
    .container .hero {
        flex-direction: column;
    }

    .img-slideshow {
        flex-direction: column;
        width: auto;
        height: auto;
        margin-right: 40px;
    }

    .hero-text {
        flex-direction: column;
        align-items: center;
        margin-left: 40px;
        margin-right: 40px;
        margin-bottom: 20px;
    }
}

/* HEADQUARTER */
#headquarter .container {
    border: 2px solid rgb(243, 243, 243);
    background-color: white;
    margin-top: 15px;
    margin-bottom: 15px;
    border-radius: 7px 7px 7px 7px;
-webkit-border-radius: 7px 7px 7px 7px;
-moz-border-radius: 7px 7px 7px 7px;
box-shadow: 0px 0px 5px 0px rgba(0,0,0,0.2) inset;
-webkit-box-shadow: 0px 0px 5px 0px rgba(0,0,0,0.2) inset;
-moz-box-shadow: 0px 0px 5px 0px rgba(0,0,0,0.2) inset;
}

.head {
    display: flex;
    flex-direction: column;
    padding-right: 40px;
    padding-left: 40px;
    padding-top: 50px;
    padding-bottom: 50px;
}

.headquarter-title {
    display: flex;
    justify-content: center;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 30px;
    font-weight: 700;
    margin-bottom: 20px;
    margin-top: -20px;
    text-shadow: 1px 1px 3px rgba(0,0,0,0.5);
}

.headquarter-gallery {
    display: flex;
    justify-content: center;
    margin-left: 30px;
}

.headquarter-gallery img {
    width: 200px;
    height: auto;
    border-radius: 50%;
    box-shadow: 0px 0px 7px 1px rgba(0,0,0,0.5);
-webkit-box-shadow: 0px 0px 7px 1px rgba(0,0,0,0.5);
-moz-box-shadow: 0px 0px 7px 1px rgba(0,0,0,0.5);
}

.headquarter-gallery .city {
    margin-right: 30px;
}

.headquarter-gallery h3 {
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 540;
    padding-top: 10px;
    display: flex;
    justify-content: center;
    text-shadow: 1px 1px 3px rgba(0,0,0,0.4);
}


/* FORM & TABLE */

#form-table .container {
    display: flex;
    flex-direction: row;
    font-family: Arial, Helvetica, sans-serif;
    border: 2px solid rgb(243, 243, 243);
    background-color: white;
    margin-top: 15px;
    margin-bottom: 15px;
    border-radius: 7px 7px 7px 7px;
-webkit-border-radius: 7px 7px 7px 7px;
-moz-border-radius: 7px 7px 7px 7px;
box-shadow: 0px 0px 5px 0px rgba(0,0,0,0.2) inset;
-webkit-box-shadow: 0px 0px 5px 0px rgba(0,0,0,0.2) inset;
-moz-box-shadow: 0px 0px 5px 0px rgba(0,0,0,0.2) inset;
}

.form {
    margin-left: 20px;
    padding: 10px;
    display: flex;
    flex: 1;
    flex-direction: column;
    align-content: center;
    justify-content: flex-start;
}

input[type=text], 
input[type=date],  
textarea {
    font-family: Arial, Helvetica, sans-serif;
    width: 100%;
    padding: 12px;
    border: 1px solid #ccc;
    border-radius: 4px;
    resize: vertical;
}

label {
    font-family: Arial, Helvetica, sans-serif;
    padding: 12px 12px 12px 0;
    display: inline-block;
}

.col-25 {
    float: left;
    width: 21%;
    margin-top: 6px;
}

.col-75 {
    float: left;
    width: 75%;
    margin-top: 6px;
}

  /* Clear floats after the columns */
.row:after {
    content: "";
    display: table;
    clear: both;
}

.button {
    margin-top: 10px;
    padding: 10px;
}

/* TABLE */

.table {
    padding: 10px;
    display: flex;
    flex: 1;
    flex-direction: column;
    align-content: flex-start;
    justify-content: flex-start;
}

table {
    border-collapse: collapse;
    width: 100%;
}

.table-data th {
    background-color: #ccc;
    font-weight: bold;
}

.table-data, td, th {
    padding: 10px;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 14px;
    border: 1px solid #b3b3b3;
}

/* FOOTER */

.footer {
    width: 100%;
    padding: 20px 0 20px 0;
    display: flex;
    flex-direction: column;
}

.footer-logo {
    width: 40px;
    height: auto;
}

.footer h1 {
    display: flex;
    justify-content: center;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 14px;
    font-weight: bold;
}